<div class="main">
  <div class="container">
    <h2>One Night Werewolf</h2>
    <p>～過ぎ去りし時を求めて～</p>
    <div class="btn">
      <%= link_to '始める', users_path, class:"square_btn" %>
      <%= link_to 'ルール', home_rule_path, class:"square_btn" %>
    </div>
  </div>
</div>
