// Place all the styles related to the roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//roles_new================================
#role_examination {
  width: 166px;
  height: 100px;
  border: solid #aaa 1px;
  margin-top: 10px;
  background-color: transparent;
}

#role_image{
  border: solid #aaa 1px;
  margin-top: 10px;
  background-color: transparent;
}
